.auth-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-form__auth-buttons button {
  margin: 0 10px;
}

.auth-form__isAdmin-label {
  margin-right: 20px;
}

.auth-form__isAdmin-checkbox {
  width: 30px;
  height: 30px;
}
